<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" media="all" href="style.css" />

    <script src="status_loader.js"></script>
  </head>

  <body>
    <div class="servers">
      <div class="server-list"></div>
    </div>

    <div class="builds">
      <div class="build-list"></div>
    </div>
  </body>
  <script>
    var serversContainer = document.querySelector('.server-list');
    var buildsContainer = document.querySelector('.build-list');

    var monitStatusLoader = new StatusLoader('/monit_status', serversContainer, 'server-button');
    var jenkinsStatusLoader = new StatusLoader('/jenkins_status', buildsContainer, 'build-button');

    monitStatusLoader.doRequest();
    jenkinsStatusLoader.doRequest();

    setInterval(function () {
      jenkinsStatusLoader.doRequest();
      monitStatusLoader.doRequest();
    }, 3000);

    jenkinsStatusLoader.animateUnavailableServers();
    monitStatusLoader.animateUnavailableServers();
  </script>

</html>
